body {
background: #ffabab;
background: radial-gradient(circle,rgba(255, 171, 171, 1) 0%, rgba(97, 171, 255, 1) 100%);
}
.box1 {
      box-sizing: border-box;
      margin: 50px;
      border: 5px solid #00000000;
      padding: 25px;
      width: 100px;
      height: 100px;
      background-color: black;
      background-clip: border-box;
    }

    .box2 {
      box-sizing: border-box;
      border: 1px solid #dbdbdb;
      padding: 100px;
      width: 300px;
      height: 300px;
      background-color: skyblue;
    }

    .box3 {
      box-sizing: border-box;
      border: 1px solid #dbdbdb;
      width: 100%;
      height: 100%;
      background-color: yellowgreen;
    }

    .button {
      margin: 10px;
      padding: 20px 15px 10px;
      border: 1px solid #bdbdbd;
      /* border-width: 1px 2px 3px 4px; */
      border-radius: 5px 10px;
      width: fit-content;
      height: fit-content;
      background-color: #fafafa;
      cursor: pointer;
    }

    .circle1 {
      box-sizing: border-box;
      border-radius: 150px;
      border: 1px solid black;
      padding: 100px;
      width: 300px;
      height: 300px;
      background-color: whitesmoke;
    }

    .circle2 {
      border-radius: 150px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background-color: black;
      cursor: pointer;
    }